<p-dialog #dialogoGenerico [header]="'Información del Producto'" [(visible)]="visibleClient" [modal]="true" showEffect="fade"
    [style]="{ height: '75%'}">
    <form #form="ngForm"[style]="{ marginTop: '25px'}" >
        <div class="flex align-items-center gap-3 mb-3">
            <label for="productoDescripcion" class="font-semibold w-6rem">Nombre</label>
            <input pInputText [(ngModel)]="producto.prodDescripcion" id="productoDescripcion"
             class="flex-auto" name="nombre" autocomplete="off"
             required #nombre="ngModel" [ngClass]="{'ng-invalid ng-dirty':nombre.invalid && nombre.touched}"/>
        </div>
        <div class="flex align-items-center gap-3 mb-3">
            <label for="precioProducto"  class="font-semibold w-6rem">Precio</label>
            <p-inputNumber 
            [(ngModel)]="producto.prodUltPrecio" 
            inputId="currency-us" 
            mode="currency" 
            currency="USD" 
            name="precio"
            [id]="'precioProducto'"
            required
            locale="en-US" #precio="ngModel" [ngClass]="{'ng-invalid ng-dirty':precio.invalid && precio.touched}"/> 
        </div>
        <div class="flex align-items-center gap-3 mb-3">
            <label for="categoriaId" class="font-semibold w-6rem">Categor&iacute;a</label>
            <div>
                <p-inputGroup>
                    <input id="categoriaId" readonly="true" name="categoria" [(ngModel)]="producto.categoriaDesripcion" 
                    pInputText placeholder="Seleccione su categoría" (click)="mostrarCateogria()" required
                    #categoria="ngModel" [ngClass]="{'ng-invalid ng-dirty':categoria.invalid && categoria.touched}"/>
                    <button type="button" pButton icon="pi pi-search"  class="p-button" (click)="mostrarCateogria()"></button>
                </p-inputGroup>
            </div>
        </div>
        <div class="flex align-items-center gap-3 mb-3">
            <label for="empresaId" class="font-semibold w-6rem">Empresa</label>
            <div>
                <p-inputGroup>
                    <input id="empresaId"  readonly="true" name="empresa" [(ngModel)]="producto.empresaDescripcion"
                     pInputText placeholder="Seleccione su empresa" (click)="mostrarEmpresa()" required
                     #empresa="ngModel" [ngClass]="{'ng-invalid ng-dirty':empresa.invalid && empresa.touched}" />
                    <button type="button" pButton icon="pi pi-search"  class="p-button" (click)="mostrarEmpresa()"></button>
                </p-inputGroup>
            </div>
        </div>
        <div class="flex align-items-center gap-3 mb-3">
            <label for="proveedorId" class="font-semibold w-6rem">Proveedor</label>
            <div>
                <p-inputGroup>
                    <input id="proveedorId" readonly="true" name="proveedor" [(ngModel)]="producto.proveedorDescripcion"
                     pInputText placeholder="Seleccione su proveedor" (click)="mostratProveedor()" required
                     #proveedor="ngModel" [ngClass]="{'ng-invalid ng-dirty': proveedor.invalid && proveedor.touched}"/>
                    <button type="button" pButton icon="pi pi-search"  class="p-button" (click)="mostratProveedor()"></button>
                </p-inputGroup>
            </div>
        </div>
    
        <div class="flex align-items-center gap-3 mb-3">
            <label for="estadoId" class="font-semibold w-6rem">Estado</label>
            <p-dropdown id="estadoId" [options]="statuses" [(ngModel)]="producto.estadoId" placeholder="Seleccione el estado"
             name="estado" optionValue="value"  optionLabel="label" required
             #estado="ngModel" [ngClass]="{'ng-invalid ng-dirty': estado.invalid &&  (estado.dirty || estado.touched)}"></p-dropdown>
        </div>
        <p-divider type="solid" />
        <div class="flex justify-content-end flex-column sm:flex-row">
            <button pButton label="Guardar" class="p-button m-2" (click)="enviarProducto(form)" ></button>
            <button pButton label="Cancelar" class="p-button-outlined m-2" (click)="cancelarProducto(form)"></button>
        </div>
    </form>    
</p-dialog>
<p-toast position="top-left"></p-toast>
<app-findcategoria (seleccionarCategoria)="almacenarCategoria($event)"></app-findcategoria>
<app-findempresa (seleccionarEmpresa)="almacenarEmpresa($event)"></app-findempresa>    
<app-findproveedor (seleccionarProveedor)="almacenarProveedor($event)"/>
<app-findSucursal></app-findSucursal>